<div data-sticky-container>
  <nav class="top-bar" data-sticky data-options="marginTop:0;" style="width:100%" data-top-anchor="the-body:top">

    <div class="top-bar-left">
      <ul class="menu">
        <li><a href="index.html">Home</a></li>
      </ul>
    </div>

    <div class="top-bar-right">
      <ul class="dropdown menu" data-dropdown-menu>

        <li>
          <a href="/publications.html">Publication</a>

          <ul class="menu">
            <li><a href="/publications_selected.html">Selected</a></li>
          </ul>

        </li>

        <li><a href="https://github.com/kaizhang">Github</a></li>

      </ul>
    </div>

  </nav>
</div>