<div data-sticky-container>
<div class="top-bar" data-sticky data-options="marginTop:0;" style="width:100%">
    <div class="top-bar-left">
      <ul class="menu">
        <li class="menu-text"><a href="index.html">Taiji</a></li>
      </ul>
    </div>
    <div class="top-bar-right">
      <ul class="menu">
        <li><a class="item $if(install)$ active $endif$" href="install.html">Install</a></li>
        <li><a class="item" href="https://taiji-pipeline.github.io/documentation/">Documentation</a></li>
        <li><a class="ui item" href="https://github.com/Taiji-pipeline/Taiji">GITHUB</a></li>
      </ul>
    </div>
</div>
</div>